@model AnimalAdoptionWebsite_FinalYearProject.Models.AnimalViewModel

@{
    ViewBag.Title = "Put animal up for adoption";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateAnimal", "Animal", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

<div class="formContainer">
    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Type)
        @Html.DropDownListFor(m => m.Type, new List<SelectListItem>
            {
                new SelectListItem { Text = "Dog", Value = "Dog"},
                new SelectListItem { Text = "Cat", Value = "Cat"},
                new SelectListItem { Text = "Hamster", Value = "Hamster"},
                new SelectListItem { Text = "Reptile", Value = "Reptile"},
                new SelectListItem { Text = "Other", Value = "Other"}
            })
        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Gender)
        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
            {
                new SelectListItem { Text = "Male", Value = "Male"},
                new SelectListItem { Text = "Female", Value = "Female"},
                new SelectListItem { Text = "Other", Value = "Other"}
            })
        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.RehomerEmail)
        @Html.TextBoxFor(model => model.RehomerEmail)
        @Html.ValidationMessageFor(model => model.RehomerEmail, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.DateOfBirthString)
        @Html.TextBoxFor(m => m.DateOfBirthString)
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(m => m.Description)
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.MedicalHistory)
        @Html.TextAreaFor(m => m.MedicalHistory)
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.DietaryNeeds)
        @Html.TextAreaFor(m => m.DietaryNeeds)
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Behaviour)
        @Html.TextAreaFor(m => m.Behaviour)
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.BackgroundInfo)
        @Html.TextAreaFor(m => m.BackgroundInfo)
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.HouseholdRequirements)
        @Html.TextAreaFor(m => m.HouseholdRequirements)
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.CompatibleWithOtherAnimals)
        @Html.DropDownListFor(m => m.CompatibleWithOtherAnimals, new List<SelectListItem>
            {
                new SelectListItem { Text = "Yes", Value = "Yes"},
                new SelectListItem { Text = "No", Value = "No"}
            })
        @Html.ValidationMessageFor(model => model.CompatibleWithOtherAnimals, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.CompatibleWithChildren)
        @Html.DropDownListFor(m => m.CompatibleWithChildren, new List<SelectListItem>
            {
                new SelectListItem { Text = "Yes", Value = "Yes"},
                new SelectListItem { Text = "No", Value = "No"}
            })
        @Html.ValidationMessageFor(model => model.CompatibleWithChildren, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Tag1)
        @Html.DropDownListFor(m => m.Tag1, new List<SelectListItem>
            {
                new SelectListItem { Text = "Happy", Value = "Happy"},
                new SelectListItem { Text = "Playful", Value = "Playful"},
                new SelectListItem { Text = "Energetic", Value = "Energetic"},
                new SelectListItem { Text = "Affectionate", Value = "Affectionate"},
                new SelectListItem { Text = "Loving", Value = "Loving"},
                new SelectListItem { Text = "Calm", Value = "Calm"},
                new SelectListItem { Text = "Hesitant", Value = "Hesitant"},
                new SelectListItem { Text = "Nervous", Value = "Nervous"},
                new SelectListItem { Text = "Peaceful", Value = "Peaceful"},
                new SelectListItem { Text = "Relaxing", Value = "Relaxing"}
            })
        @Html.ValidationMessageFor(model => model.Tag1, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Tag2)
        @Html.DropDownListFor(m => m.Tag2, new List<SelectListItem>
            {
                new SelectListItem { Text = "Playful", Value = "Playful"},
                new SelectListItem { Text = "Happy", Value = "Happy"},
                new SelectListItem { Text = "Energetic", Value = "Energetic"},
                new SelectListItem { Text = "Affectionate", Value = "Affectionate"},
                new SelectListItem { Text = "Loving", Value = "Loving"},
                new SelectListItem { Text = "Calm", Value = "Calm"},
                new SelectListItem { Text = "Hesitant", Value = "Hesitant"},
                new SelectListItem { Text = "Nervous", Value = "Nervous"},
                new SelectListItem { Text = "Peaceful", Value = "Peaceful"},
                new SelectListItem { Text = "Relaxing", Value = "Relaxing"}
            })
        @Html.ValidationMessageFor(model => model.Tag2, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Tag3)
        @Html.DropDownListFor(m => m.Tag3, new List<SelectListItem>
            {
                new SelectListItem { Text = "", Value = null},
                new SelectListItem { Text = "Happy", Value = "Happy"},
                new SelectListItem { Text = "Playful", Value = "Playful"},
                new SelectListItem { Text = "Energetic", Value = "Energetic"},
                new SelectListItem { Text = "Affectionate", Value = "Affectionate"},
                new SelectListItem { Text = "Loving", Value = "Loving"},
                new SelectListItem { Text = "Calm", Value = "Calm"},
                new SelectListItem { Text = "Hesitant", Value = "Hesitant"},
                new SelectListItem { Text = "Nervous", Value = "Nervous"},
                new SelectListItem { Text = "Peaceful", Value = "Peaceful"},
                new SelectListItem { Text = "Relaxing", Value = "Relaxing"}
            })
        @Html.ValidationMessageFor(model => model.Tag3, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Tag4)
        @Html.DropDownListFor(m => m.Tag4, new List<SelectListItem>
            {
                new SelectListItem { Text = "", Value = null},
                new SelectListItem { Text = "Happy", Value = "Happy"},
                new SelectListItem { Text = "Playful", Value = "Playful"},
                new SelectListItem { Text = "Energetic", Value = "Energetic"},
                new SelectListItem { Text = "Affectionate", Value = "Affectionate"},
                new SelectListItem { Text = "Loving", Value = "Loving"},
                new SelectListItem { Text = "Calm", Value = "Calm"},
                new SelectListItem { Text = "Hesitant", Value = "Hesitant"},
                new SelectListItem { Text = "Nervous", Value = "Nervous"},
                new SelectListItem { Text = "Peaceful", Value = "Peaceful"},
                new SelectListItem { Text = "Relaxing", Value = "Relaxing"}
            })
        @Html.ValidationMessageFor(model => model.Tag4, "", new { @class = "text-danger" })
    </div>

    <div class="formContainerSecondLayer">
        @Html.LabelFor(model => model.Tag5)
        @Html.DropDownListFor(m => m.Tag5, new List<SelectListItem>
            {
                new SelectListItem { Text = "", Value = null},
                new SelectListItem { Text = "Happy", Value = "Happy"},
                new SelectListItem { Text = "Playful", Value = "Playful"},
                new SelectListItem { Text = "Energetic", Value = "Energetic"},
                new SelectListItem { Text = "Affectionate", Value = "Affectionate"},
                new SelectListItem { Text = "Loving", Value = "Loving"},
                new SelectListItem { Text = "Calm", Value = "Calm"},
                new SelectListItem { Text = "Hesitant", Value = "Hesitant"},
                new SelectListItem { Text = "Nervous", Value = "Nervous"},
                new SelectListItem { Text = "Peaceful", Value = "Peaceful"},
                new SelectListItem { Text = "Relaxing", Value = "Relaxing"}
            })
        @Html.ValidationMessageFor(model => model.Tag5, "", new { @class = "text-danger" })
    </div>

    <div class="buttonContainer">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
}